<nav class="navbar navbar-dark bg-dark position-fixed">
  <div class="container">
    <div class="navbar-header">
      <!--<a routerLink="/listing/listings" ><img src="./images/icons/xx_logo.png" alt="logo"></a>
      <a href="javascript:void(0)" ><img src="./images/icons/xx_logo.png" alt="logo"></a>-->
      <p class="navbar-text float-right ml-2" id="lw-header" >
        CRM Web
      </p>
    </div>

    <div>
      <div class="btn-group" dropdown *ngIf="authenticationService.currentUser | async">
        <button id="button-basic" dropdownToggle type="button" class="btn btn-customcolor dropdown-toggle" aria-controls="dropdown-basic">
          {{loggedInUser.userName}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/homepage">Homepage</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
<div class="Main-View">
  <router-outlet>
    <!--<ngx-spinner></ngx-spinner>-->
  </router-outlet>
</div>

<!--------------------------------------------------------->


<!--<div class="toolbar" role="banner">
  <span>
    <a routerLink="/login" routerLinkActive="active" class="navitem"> Login</a>
  </span>
</div>-->
<!--<div class="content" role="main">
  <nav>
    <a routerLink="/homepage" routerLinkActive="active"> Homepage</a>
    <a routerLink="/dashboard" routerLinkActive="active"> Dashboard</a>
  </nav>

  <router-outlet></router-outlet>


</div>-->
