
.Main-View {
  padding-top: 54px;
  margin-bottom: 20px;
}

.navbar {
  right: 0;
  left: 0;
  z-index: 1030;
}

#lw-header {
  color: #ffcf01;
  margin: 0 auto;
  font-weight: bolder
}

.btn-customcolor {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}


